body { margin: 0px; padding: 0px; font-family: Arial; font-size: 14px; background: url("wood.jpg")repeat; }

#wrapper {
	width: 300px;
	margin: 150px auto;
	padding: 25px;
	background: #f4f4f4;
	border: 10px solid rgba(255, 255, 255, 0.8);
	border-radius: 6px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	}